.container {
  height: 370px;
  max-width: 1500px;
  background: #0d0d10;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 64px 100px 0px;
  .textContainer {
    align-items: center;
    width: 90%;
    margin: auto 0;
  }
  .profits {
    display: grid;
    grid-template-columns: 48.05% 48.05%;
    grid-template-rows: 1;
    grid-row-gap: 16px;
    grid-column-gap: 32px;
    margin-bottom: 52px;
    margin-top: 82px;
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
  }
  .price {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 24px;
    p {
      color: var(--text-second-color);
    }
  }
}

.title {
  white-space: nowrap;
  font-family: var(--font-druk-wide-cy);
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 24px;
    white-space: wrap;
  }
}
